<h1>Edit Admin<h1>
<%= form_with model: @admin do |form|%>
<div>
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>
<div>
    <%= form.label :email %>
    <%= form.email_field :email%>
</div>
<%=form.submit "Update Admin"%>
<%end%>
