<h1>Movie Details<h1>
    <div>
        <% if @movie.avatar.attached?%>
        <%= image_tag @movie.avatar%>
    </div>
    <strong>Title :</strong>
    <%=@movie.title%><br>
    <strong>Discription :</strong>
    <%=@movie.discription%><br>
    <strong>Genre :</strong>
    <%=@movie.genre_id%><br>
    <strong>Rating :</strong><br>
    <%= @movie.rating_id%>
    <%= link_to "Back", admins_path%>
    <%end%>
    