<%= search_form_for @q do |f| %>
  <%= f.label :title_cont, "Movie name" %>
  <%= f.search_field :title_cont %>
  <%= f.submit "Search" %>


  <%= f.label :genre_id_eq, "Genre" %>
  <%= f.select :genre_id_eq, Genre.pluck(:name, :id), include_blank: "All Genres" %>
  <%= f.submit %>


  <%= f.label :ratings_rating_gteq, "Minimum Rating"%>
  <%= f.select :ratings_rating_gteq, (1..5).map { |n| [n, n] }, include_blank: "Any Rating" %>
  <%= f.submit %>
<% end %>
<div>
  <div>
     Movie Review App
  </div>

  <div>
    <% if user_signed_in? %>

      <span>
        Welcome,
        <strong><%= current_user.name %></strong>
      </span>

      <br><%= link_to " Log-out ",
          destroy_user_session_path,
          data: { turbo_method: :delete } %>

    <% else %>

      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to " Login ", new_user_session_path %>

    <% end %>
    <br><%= link_to "  My Profile  ", current_user%>
  </div>
</div>

<hr>

<h1>Movies</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Latest Review</th>
      <th>Genre</th>
      <th>Poster</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>

        <td>
          <%= movie.title %>
        </td>

        <td>
          <%= movie.description %>
        </td>

        <td>
          <% if movie.average_rating.present? %>
            <%= "⭐" * movie.average_rating.to_i %>
          <% else %>
            No rating
          <% end %>
        </td>
        </td>


        <td>
          <%= movie.reviews.last&.body || "No comments yet" %>
        </td>

        <td>
          <%= movie.genre&.name%>

        <td>
          <% if movie.avatar.attached? %>
            <%= image_tag movie.avatar.variant(resize_to_limit: [110, 110]) %>
          <% else %>
            No Image
          <% end %>
        </td>

        <td>
          <%= link_to "Show", movie %>
        </td>

        <td>
          <%= link_to "Edit", edit_movie_path(movie) %>
        </td>

        <td>
          <%= link_to "Delete", movie,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
<div>
  <%== @pagy.series_nav %>
</div>
