<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Avatar</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.discription %></td>

        <td>
          <%= image_tag url_for(movie.avatar), style: "width: 120px; height: 200px; object-fit: cover;" if movie.avatar.attached? %>
        </td>

        <td><%= link_to "Show", movie %></td>
        <td><%= link_to "Edit", edit_movie_path(movie) %></td>
        <td><%= link_to "Destroy", movie, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Movie", new_movie_path %>
