<h1>Edit User<h1>
<%= form_with model: @user do |form|%>
<div>
    <%= form.label :name %>
    <%= form.text_field :name %>
</div>
<div>
    <%= form.label :email %>
    <%= form.email_field :email%>
</div>
<%=form.submit "Update User"%>
<%end%>