<div class="users-page">

  <div class="users-filters">
    <%= search_form_for @q, html: { class: "filters-form" } do |f| %>
      <div class="filter-group">
        <%= f.label :name_cont, "User name", class: "filter-label" %>
        <%= f.search_field :name_cont, class: "filter-input", placeholder: "Search by user name..." %>
      </div>

      <div class="filter-actions">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <h1 class="page-title">Listing Users</h1>

  <div class="table-wrapper">
    <table class="users-table">
      <thead>
        <tr>
          <th class="th-name">Name</th>
          <th class="th-email">Email</th>
          <th class="th-actions">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr class="user-row">
            <td class="user-name"><%= user.name %></td>
            <td class="user-email"><%= user.email %></td>
            <td class="user-actions">
              <%= link_to "Show", user, class: "action-link show-link" %>
              <%# <%= link_to "Edit", edit_user_path(user), class: "action-link edit-link" %>
              <%# <%= link_to "Destroy", user,
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                    class: "action-link delete-link" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="pagination-wrapper">
    <%== @pagy.series_nav %>
  </div>

  <div class="users-footer">
    <%= link_to "New User", new_user_path, class: "btn btn-primary new-user-btn" %>
  </div>

</div>
