<h1>New User<h1>
    <%= form_with model: @user do |form|%>
    <div>
        <%=form.label :name%>
        <%=form.text_field :name%>
    </div>
    <div>
        <%=form.label :email%>
        <%=form.email_field :email%>
    </div>
    <div>
        <%=form.label :avatar%>
        <%=form.file_field :avatar%>
    </div>
    <%= form.submit "Create User"%>
    <%= link_to "Back", users_path%>
    <%end%>