<h1>New Rating<h1>
    <%= form_with model: @rating do |form|%>
    <div>
        <%=form.label :rating%>
        <%=form.text_field :rating%>
    </div>
    <div>
        <%=form.label :user_id%>
        <%=form.text_field :user_id%>
    </div>
    <div>
        <%=form.label :movie_id%>
        <%=form.text_field :movie_id%>
    <%= form.submit "Create Rating"%>
    <%= link_to "Back", ratings_path%>
    <%end%>