<div class="nikil">
  <hr class="divider">

  <%= link_to "Movies", movies_path, class: "page-title" %>

  <table class="movies-table">
    <thead>
      <tr>
        <th class="th-title">Title</th>
        <th class="th-description">Description</th>
        <th class="th-rating">Rating</th>
        <th class="th-review">Latest Review</th>
        <th class="th-poster">Poster</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr class="movie-row">

          <td class="movie-title">
            <%= movie.title %>
          </td>

          <td class="movie-description">
            <%= movie.description %>
          </td>

          <td class="movie-rating">
            <% if movie.average_rating.present? %>
              <span class="rating-stars">
                <%= "⭐" * movie.average_rating.to_i %>
              </span>
            <% else %>
              <span class="no-rating">No rating</span>
            <% end %>
          </td>

          <td class="movie-review">
            <%= movie.reviews.last&.body || "No comments yet" %>
          </td>

          <td class="movie-poster">
            <% if movie.avatar.attached? %>
              <%= image_tag movie.avatar.variant(resize_to_limit: [110, 110]), class: "poster-img" %>
            <% else %>
              <span class="no-image">No Image</span>
            <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>