<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if controller_path.start_with?("admin/") || controller_path == "admin_sessions" %>
      <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <div class="container">
        <a href="<%= root_path %>" class="brand">Movie Review</a>
        <nav class="site-nav">
          <%= link_to "Movies", movies_path, class: "nav-link" %>
        </nav>
      </div>
    </header>

    <main class="site-main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
